body {
  background-color: #f4f3f2;
  margin: 0;
  overflow: hidden;
}

.cover-container {
  position: fixed;
  top: 40px;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translate(-50%);
  text-align: center;
  min-height: 270px;
}

.cover {
  height: 100%;
  opacity: 0;
}

.about {
  position: absolute;
  width: 100%;
  top: 0;
  margin: 100px 0 0;
}

.about p {
  padding: 0 40px;
}

.title {
  font-family: PTSans, Arial, sans-serif;
  font-size: 24px;
}

.author {
  font-family: PTSans, Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin: 20px 0 0;
}

@-webkit-keyframes loading {
    from {-webkit-transform:rotate(0deg)}
    to   {-webkit-transform:rotate(360deg)}
}

.loader-container {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.loader {
    width: 50px;
    height: 50px;

    overflow: hidden;
    background: #ccc no-repeat;

    -webkit-mask-image: url(spinner_32.svg);
    -webkit-mask-size: 50px 50px;

    -webkit-animation-name: loading;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.start-reading {
  display: none;
  background-image: url('../img/right-arrow.png');
  position: absolute;
  right: -68px;
  background-repeat: no-repeat;
  top: 50%;
  width: 28px;
  height: 52px;
  cursor: pointer;
}

.start-reading:hover {
  background-image: url('../img/right-arrow-hover.png');
}

.metadata {
  font-family: PTSans, Arial, sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  bottom: 60px;
}
