html {
  font-size: 18px;
}

body {
  margin: 0 !important;
  background: none !important;
}

.single-style {
  font-family: PTSerif, "Times New Roman", serif;
  font-size: 18px;
  text-align: justify;
  padding: 0 80px;
  width: 40em;
  max-width: intrinsic;
  margin: 0 auto;
}

.spread-style {
  padding: 3em 0 4.5em;
  box-sizing: border-box;
}

.spread-style body {
  margin: 0;
}

a {
  color: #000 !important;
  text-decoration: none !important;
  border-bottom: 1px dotted;
  border-color: rgba(0, 0, 0, 0.35);
}

a:hover {
  border-color: rgba(0, 0, 0, 1);
}

h1 {
  display: block;
  font-size: 2.2em;
  -webkit-margin-before: 1.34em;
  -webkit-margin-after: 0.67em;
  font-weight: normal;
}

p {
  margin: 0;
  text-indent: 1.8em;
  text-align: justify;
}

p.first {
  text-indent: 0;
}
   