<html>
  <head>
    <title>The Signal Man</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <style type="text/css">
      body {
        line-height: 1.5;
      }
      span.big {
        font-size: 150%;
      }
      .CHAT { background: red; min-height: 2px; }
    </style>
  </head>
  <body>

    <h2>The Signal Man</h2>
    <p>
    <span class="big">“H</span>ALLOA! Below there!”</p>
    <p>When he heard a voice thus calling to him, he was standing at the door of his box, with a flag in his hand, furled round its short pole. One would have thought, considering the nature of the ground, that he could not have doubted from what quarter the voice came; but instead of looking up to where I stood on the top of the steep cutting nearly over his head, he turned himself about, and looked down the Line. There was something remarkable in his manner of doing so, though I <span class="CHAT CHAT-id-1">could</span> not have said for my life what. But I know it was remarkable enough to attract my notice, even though his figure was foreshortened and shadowed, down in the deep trench, and mine was high above him, so steeped in the glow of an angry sunset, that I had shaded my eyes with my hand before I saw him at all.</p>
    <p>“Halloa! Below!”</p>
    <p>From looking down the Line, he turned himself about again, and, raising his eyes, saw my figure high above him.</p>
    <p>“Is there any path by which I can come down and speak to you?”</p>
    <p>He looked up at me without replying, and I looked down at him without pressing him too soon with a repetition of my idle question. Just then there came a vague vibration in the earth and air, quickly changing into a violent pulsation, and an oncoming rush that caused me to start back, as though it had force to draw me down. When such vapour as rose to my height from this rapid train had passed me, and was skimming away over the landscape, I looked down again, and saw him refurling the flag he had shown while the train went by.</p>
    <p>I repeated my inquiry. After a pause, during which he seemed to regard me with fixed attention, he motioned with his rolled-up flag towards a point on my level, some two or three hundred yards distant. I called down to him, “All right!” and made for that point. There, by dint of looking closely about me, I found a rough zigzag descending path notched out, which I followed.</p>
    <p>The cutting was extremely deep, and unusually precipitate. It was made through a clammy stone, that became oozier and wetter as I went down. For these reasons, I found the way long enough to give me time to recall a singular air of reluctance or compulsion with which he had pointed out the path.</p>
    <p>When I came down low enough upon the zigzag descent to see him again, I saw that he was standing between the rails on the way by which the train had lately passed, in an attitude as if he were waiting for me to appear. He had his left hand at his chin, and that left elbow rested on his right hand, crossed over his breast. His attitude was one of such expectation and watchfulness that I stopped a moment, wondering at it.</p>
    <p>I resumed my downward way, and stepping out upon the level of the railroad, and drawing nearer to him, saw that he was a dark, sallow man, with a dark beard and rather heavy eyebrows. His post was in as solitary and dismal a place as ever I saw. On either side, a dripping-wet wall of jagged stone, excluding all view but a strip of sky; the perspective one way only a crooked prolongation of this great dungeon; the shorter perspective in the other direction terminating in a gloomy red light, and the gloomier entrance to a black tunnel, in whose massive architecture there was a barbarous, depressing, and forbidding air. So little sunlight ever found its way to this spot, that it had an earthy, deadly smell; and so much cold wind rushed through it, that it struck chill to me, as if I had left the natural world.</p>
    <p>Before he stirred, I was near enough to him to have touched him. Not even then removing his eyes from mine, he stepped back one step, and lifted his hand.</p>


  </body>
</html>
